NVIDIA_API_KEY=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
NVIDIA_NIM_BASE_URL=https://integrate.api.nvidia.com/v1
FAISS_INDEX_PATH=data/faiss.index
EMBEDDINGS_PKL=data/embeddings.pkl
CATALOG_JSON=data/catalog.json
